*, ::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    max-width: 1600;
    min-height:100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: blueviolet;
    margin: 0 auto;
}
.btn {
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover ~ .title{
    transform: scale(1);
}
.title {
    font-size: 60px;
    color: aqua;
    text-transform: uppercase;
    transform: scale(0);
    transition: 1s;

}